@model IEnumerable<Prueba.AppWebMVC.Models.TipoPlanilla>

@{
    ViewData["Title"] = "Tipos de Planillas";
}

<h1 class="text-center my-4">Tipos de Planillas</h1>

<div class="d-flex justify-content-between mb-3">
    <a asp-action="Create" class="btn btn-success">
        <i class="fas fa-plus"></i> Nuevo Tipo de Planilla
    </a>
</div>


<table class="table table-bordered table-striped text-center">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.NombreTipo)</th>
            <th>@Html.DisplayNameFor(model => model.FechaCreacion)</th>
            <th>@Html.DisplayNameFor(model => model.FechaModificacion)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.NombreTipo)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaCreacion)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaModificacion)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">
                        <i class="fas fa-edit"></i> Editar
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">
                        <i class="fas fa-eye"></i> Detalles
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash"></i> Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>